* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
}

body {
  background-color: #283747;
}

.hhhh-1 {
  background-color: #b2babb;
  width: 40%;
  margin: 20px auto;
  border-bottom: 5px solid #7f8c8d;
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 10px;
}

div {
  /* display: inline-block; */
  width: 40%;
  margin: 30px auto;
}

.dii-1,
.dii-2 {
  background-color: #7f8c8d;
  text-align: center;
  border-bottom: #283747 3px solid;
  border-radius: 15px;
}

.diii-1,
.diii-2 {
  background-color: #b2babb;
  text-align: center;
  border-radius: 15px;
}

.di-2 ul li {
  list-style: none;
}

div:hover {
  transition: 2s;
  box-shadow: 0 0 80px 0 #b2babb;
}
footer {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: lightslategrey;
  position: absolute;
  top: 100%;
}
footer h3 {
  font-family: "Cairo", sans-serif;
  margin: 20px 0;
}
