*{
    background-color: #112b40;
}
h1{
    background-color: cornflowerblue;
    font-size: 32px;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 30%;
    outline-style: auto;
    text-align: center;
}
table{
    width:50%;
    color : black;
    font-size: 18px;
    margin-left: 40%;
}
table td{
    background-color: #eee;
    border-spacing: 3px;
    border:1px solid cornflowerblue;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}
#cols{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}